{{ partial "htmlhead" . }}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

                {{ partial "header" . }}
                {{ partial "nav" . }}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
                        <section class="post">
                            <header class="major">
                                {{ if not .Date.IsZero }}
                                <span class="date">{{ .Date.Format (.Site.Params.DateFormat | default "January 2, 2006") }}</span>
                                {{ end }}
                                <h1>{{ .Title }}</h1>
                                <p>{{ .Description }}</p>
                            </header>
                            {{ if .Params.image }}
                            <div class="image main">
                            {{ if .Params.imageModern }}
                                <picture>
                                    {{ if .Params.imageModernType }}
                                        <source srcset="{{ .Params.imageModern | relURL }}" type="{{ .Params.imageModernType }}">
                                    {{ else }}
                                        <source srcset="{{ .Params.imageModern | relURL }}" type="image/webp">
                                    {{ end }}
                                    {{ if .Params.imageType }}
                                        <source srcset="{{ .Params.image | relURL }}" type="{{ .Params.imageType }}">
                                    {{ else }}
                                        <source srcset="{{ .Params.image | relURL }}">
                                    {{ end }}
                                    {{ if .Params.imageAlt }}
                                        <img src="{{ .Params.image | relURL }}" alt="{{ .Params.imageAlt }}">
                                    {{ else }}
                                    <img src="{{ .Params.image | relURL }}" alt="">
                                    {{ end }}
                                </picture>
                            {{ else }}
                            {{ if .Params.imageAlt }}
                                <img src="{{ .Params.image | relURL }}" alt="{{ .Params.imageAlt }}" />
                            {{ else }}
                                <img src="{{ .Params.image | relURL }}" alt="" />
                            {{ end }}
                            {{ end }}
                            {{ if .Params.imageAttribution }}
                                <center><span style="text-align:center;font-style:italic;">{{ .Params.imageAttribution | safeHTML }}</span></center>
                            {{ end }}
                            </div>
                            {{ end }}
                            {{ .Content }}

                            {{ partial "postcustom" . }}
                            
                            {{ if not (eq .Params.disableComments true) }}
                            {{ template "_internal/disqus.html" . }}
                            {{ end }}
                        </section>

                        {{ partial "customBlogFooter.html" . }}

					</div>

                    {{ partial "footer/index" . }}
                    {{ partial "copyright" . }}

            </div>
            {{ template "_internal/google_analytics.html" . }}
            {{ partial "scripts/index" . }}

            {{ partial "customFooter" . }}
	</body>
</html>
