{{ partial "htmlhead" . }}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

                {{ partial "header" . }}
                {{ partial "nav" . }}

				<!-- Main -->
					<div id="main">

                        <h1>Error 404</h1>
                        <p>
                            <b>Oh no!</b> Unfortunately, the requested page could not be found.<br>
                            <br>
                            <a href="/" class="button big" style="width: 100%;">Back to home</a>
                        </p>

					</div>

                    {{ partial "footer/index" . }}
                    {{ partial "copyright" . }}

            </div>
            {{ template "_internal/google_analytics.html" . }}
            {{ partial "scripts/index" . }}

            {{ partial "customFooter" . }}
	</body>
</html>
